* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: white;
    padding-bottom: 100px;
    transition: background-color 0.3s ease-in-out;
}

.graybody {
    background-color: #222222;
}

.graybody header {
    background-color: #111111;
}

.graybody .bottomNav {
    background-color: #111111;
}

.graybody .bottomNav ul li.active a {
    background-color: #222222;
}

.graybody .bottomNav ul li:nth-child(3) a {
    outline: 5px solid #222222;
}

:focus {
    outline: none;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.loginForm,
#addNewProduct,
#productInfo {
    padding: 0 5px;
    padding-top: 60px;
    padding-bottom: 5px;
    border-radius: 0 0 30px 30px;
    background-color: #222222;
    margin-top: -30px;

    h2 {
        color: #828282;
        margin-bottom: 10px;
        font-family: "poppins", serif;
        padding: 0 10px;
    }
}

.loginForm {
    max-width: 300px;
    margin: 0 auto;

    form{
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.passreset {
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;

    a {
        color: #828282;
        text-decoration: none;
    }
}

.registerLink {
    text-align: center;
    font-size: 12px;
    color: #828282;

    a {
        color: #28a745;
        text-decoration: none;
    }
}

.logintabs {
    margin-bottom: 10px;
    width: 100%;
    background-color: #222222;
    border-radius: 40px;

    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-between;

        li {
            flex: 0 0 50%;
            padding: 3px;

            a {
                display: block;
                text-align: center;
                text-decoration: none;
                color: #828282;
                border-radius: 40px;
                padding: 5px;
                font-size: 14px;
            }

            &.active {
                a {
                    background-color: #111111;
                    color: #28a745;
                }
            }
        }
    }
}

.loginactions{
    text-align: center;

    button{
        // width:auto;
        padding:10px 20px;
        font-size:14px;
    }
}

#addNewProduct {
    border-radius: 0 0 20px 20px;
}

#productInfo {
    .headTitle {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;

        h2 {
            display: inline-block;
            margin-bottom: 0;
        }

        input {
            display: inline-block;
            background-color: #111111;
            width: 60px;
            border-radius: 20px;
            padding: 2px 10px;
            border: none;
            outline: none;
            font-size: 16px;
            margin: 0;
            color: #828282;
            font-family: "poppins", serif;
        }

        i {
            color: #828282;
            font-size: 12px;
            margin-left: 10px;
        }

        #cancelEditCartName,
        #confirmEditCartName {
            display: none;
            font-size: 14px;
        }

        #cancelEditCartName {
            color: #f42f2f;
            margin-right: 5px;
        }

        #confirmEditCartName {
            color: #28a745;
        }

        #confirmCart {
            display: block;
            font-size: 14px;
            color: #ffffff;
            padding: 6px 10px;
            background-color: #28a745;
            border-radius: 20px;
        }

        #clearCart {
            display: block;
            font-size: 14px;
            color: #828282;
            padding: 6px 10px;
            background-color: #222222;
            border-radius: 20px;
        }

        .actions {
            display: flex;
        }
    }


}

.product {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #111111;
    margin-bottom: 5px;
}

.product.removed {
    transition: all 0.3s ease-in-out;
    height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
}

.product:last-child {
    margin-bottom: 0;
}

.product .left {
    flex: 0 0 86px;
    border-radius: 25px;
    overflow: hidden;
}

.product .left img {
    display: block;
    width: 100%;
    height: 86px;
    object-fit: cover;
}

.product .right {
    font-size: 14px;
    color: #828282;
    flex: 0 0 calc(100% - 86px);
    min-height: 86px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .right .info {
    /* min-height: 76px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-bottom: 5px;
}

.product .right .info .prodname {
    max-width: calc(100% - 65px);
}

.product .right .info #productPrice {
    border-radius: 5px;
}

.product .right .actions {
    /* min-height: 76px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.product .right .actions .remove {
    text-align: right;
    background-color: #222222;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 32px;
    text-align: center;
    color: #828282;
    transition: all 0.3s ease-in-out;
    display: block;
}

.product .right .actions .confirmRemove {
    color: #28a745;
    display: none;
}

.product .right .actions .cancelRemove {
    color: #f42f2f;
    display: none;
    margin-left: 10px;
}

.product .right .actions.removing .remove {
    display: none;
}

.product .right .actions.removing .confirmRemove,
.product .right .actions.removing .cancelRemove {
    display: inline-block;
}

.product .right p #productName {
    font-weight: bold;
    color: #28a745;
    display: block;
    font-size: 16px;
}

.loginForm,
#editProductForm,
#addNewProduct {
    input {
        width: 100%;
        border-radius: 50px;
        padding: 10px;
        margin: 0;
        font-size: 14px;
        background-color: #111111;
        border: none;
        outline: none;
        color: #828282;
        margin-bottom: 5px;

        &:disabled {
            opacity: 0.5;
        }

        &:-internal-autofill-selected {
            background-color: inherit !important;
        }
    }

    select {
        width: 100%;
        border-radius: 50px;
        padding: 10px;
        margin: 0;
        font-size: 14px;
        background-color: #111111;
        border: none;
        outline: none;
        color: #828282;
        background-image: url(./images/selectarrowdown.svg);
        background-position: calc(100% - 10px) 50%;
        background-size: 10px;
        background-repeat: no-repeat;
        margin-bottom: 0;
        max-width: 80px;

        &::-ms-expand {
            display: none;
        }

        -moz-appearance: none;
        -webkit-appearance: none;
    }

    #editProductImage,
    #newProductImage {
        padding: 5px;

        &::file-selector-button {
            border-radius: 50px;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #222222;
            border: none;
            outline: none;
            color: #828282;
        }
    }

    .row {
        display: flex;
        gap: 5px;
        margin-bottom: 5px;

        .price {
            display: flex;
            gap: 5px;
            width: 60%;

            input {
                display: flex;
                gap: 5px;
                width: 60%;
                margin-bottom: 0;
            }
        }

        .productQuantity {
            width: 40%;
            justify-content: flex-end;

            input {
                margin-bottom: 0;
                background-color: transparent;
                width: 25px;
                margin: 0 15px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .productQuantity {

        .editless,
        .editmore,
        .newless,
        .newmore {
            background-color: #111111;
        }
    }

    .actions {
        display: flex;
        gap: 5px;

        button {
            padding: 10px;
            font-size: 14px;

            &[type="reset"] {
                background-color: #111111;
            }
        }
    }
}

.loginForm {
    background-color: transparent;

    input {
        background-color: #222222;
    }
}


#editProductForm .row {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;

    input {
        margin-bottom: 0;
    }
}

#addNewProductForm {
    margin-bottom: 0;
}

.productQuantity .more {
    background-color: #222222;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    color: #828282;
}

#errorMessage {
    margin-top: 20px;
    padding: 0 10px;
    color: #828282;
    text-align: center;
}

.scannerContainer {
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    width: calc(100vw - 0px);
    height: 80vh;
    transition: all 0.3s ease-in-out;
    position: relative;
    /* margin:0 auto; */
    background-color: #222222;
}

.scannerContainer.shrink {
    height: 50vh;
}

#reader {
    border: none !important;
    margin-bottom: 20px;
    // pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


#openScanner,
#permissionDenied {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

#openScanner i,
#permissionDenied i {
    font-size: 40px;
    color: #2e2e2e;
    margin-bottom: 10px;
}

#openScanner button,
#permissionDenied button {
    width: auto;
    padding: 10px;
}

#openScanner p,
#permissionDenied p {
    margin-bottom: 10px;
    color: #828282;
}

#barcodeForm {
    position: absolute;
    bottom: calc(20vh + 5px);
    padding: 0 5px;
    width: 100%;
    text-align: center;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

#barcodeForm.moveup {
    bottom: calc(50vh + 5px);
}

#barcodeForm input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    margin: 0;
    font-size: 16px;
    background-color: #111111;
    border: none;
    outline: none;
    color: #828282;
    text-align: center;
}

#barcodeForm input[type="text"]::placeholder {
    font-style: italic;
    font-size: 12px;
}

#barcodeForm button {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    text-align: center;
    padding: 0;
    background-color: #222222;
    color: #828282;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.bottomNav {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
    background-color: #222222;
    z-index: 1;
    border-radius: 40px;
}

.bottomNav ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    position: relative;
}

.bottomNav ul li {
    flex: 0 0 20%;
    padding: 5px;
}

.bottomNav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #828282;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    border-radius: 30px;
}

.bottomNav ul li.active a {
    background-color: #111111;
    color: #28a745;
}

.bottomNav ul li a i {
    font-size: 22px;
}

.bottomNav ul li:nth-child(3) {
    position: relative;
}


.bottomNav ul li:nth-child(3) a {
    height: 65px;
    width: 65px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    padding: 0;
    border-radius: 50%;
    background-color: #222222;
    padding: 0;
    border: 1px solid #28a745;
    outline: 5px solid #111111;
}

.bottomNav ul li:nth-child(3).active a {
    background-color: #111111;
}


.bottomNav ul li:nth-child(3) a i {
    font-size: 30px;
    color: #28a745;
}

.logo {
    color: #686767;
    font-size: 30px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    line-height: 25px;
    font-family: "Josefin Slab", serif;
}

/* .logo i {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index:-1;
} */

.logo span {
    color: #686767;
    margin-left: 10px;
}

.productQuantity {
    display: flex;
    align-items: center;
    border-radius: 30px;
    /* width:100%; */
}

.productQuantity input {
    border-radius: 5px;
    padding: 0px;
    margin: 0;
    font-size: 14px;
    background-color: #111111;
    border: none;
    outline: none;
    color: #828282;
    text-align: center;
    width: 25px;
    margin: 0 20px;
}

.productQuantity {

    .less,
    .newless,
    .editless {
        background-color: #222222;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        line-height: 30px;
        text-align: center;
        color: #828282;
    }
}

.productQuantity {

    .more,
    .newmore,
    .editmore {
        background-color: #222222;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        line-height: 30px;
        text-align: center;
        color: #828282;
    }
}

#stopScanner {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 7px 10px;
    width: auto;
    font-size: 13px;
    /* box-shadow: 0 0 5px 1px rgb(90 88 88 / 40%); */
    z-index: 2;
    background-color: #f42f2f;
    /* color: #828282; */
    display: none;
}

#scannerSettings {
    position: absolute;
    top: 15px;
    right: 50px;
    padding: 5px;
    width: auto;
    font-size: 12px;
    /* box-shadow: 0 0 5px 1px rgb(90 88 88 / 40%); */
    z-index: 2;
    background-color: #111111;
    color: #828282;
}

#loader {
    display: none;
    position: fixed;
    top: 30vh;
    left: 50%;
    padding: 10px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    background-color: #111111;

    .spinner {
        display: block;
        width: 40px;
        height: 40px;
        border: 2px solid #28a745;
        border-top: 2px solid transparent;
        border-radius: 50%;
        animation: spin 0.3s linear infinite forwards;

    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.highlight {
    animation: highlightEffect 0.5s linear;
}

@keyframes highlightEffect {
    from {
        background-color: #28a745;
    }

    to {
        background-color: transparent;
    }
}

.noTransition {
    transition: none;
}

.subsection {
    display: none;
    padding: 70px 10px 0;
}

.sectionScanner{
    display:none;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.sectionTitle h2 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #828282;
}

.sectionTitle .sectionTitleActions {
    display: flex;
    align-items: center;
    position: relative;
}

.sectionTitle .sectionTitleActions {

    .refresh,
    .filter,
    .sort,
    .search {
        padding: 5px;
        line-height: 22px;
        background-color: #111111;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
        color: #828282;
        transition: all 0.3s ease-in-out;
        display: block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &.on {
            color: #28a745;
        }
    }
}

.sectionTitle {
    .searchEntity {
        width: 100%;
        flex: 0 0 100%;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        display: none;

        .content {
            position: relative;
            // top: 70px;
            // left: 50%;
            // transform: translateX(-50%);
            // background-color: #111111;
            // border-radius: 20px;
            // // padding: 10px 5px 5px;
            // width: calc(100% - 20px);
            // height: auto;
            // max-height: 60vh;
        }

        input {
            margin: 0;
            font-size: 14px;
            border-radius: 20px;
            background-color: #111111;
            border: none;
            color: #828282;
            padding: 11px 35px;
        }

        .back {
            position: absolute;
            top: 50%;
            left: 5px;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            color: #828282;
            display: block;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
        }

        .searchloader {
            display: none;
            position: absolute;
            top: 25%;
            right: 5px;
            width: 20px;
            height: 20px;
            border: 2px solid #28a745;
            border-top: 2px solid transparent;
            border-radius: 50%;
            animation: spin 0.3s linear infinite forwards;
        }
    }

    &.open {

        h2,
        .sectionTitleActions {
            display: none !important;
        }

        .searchEntity {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
}

.sectionOrders .sectionTitle .sectionTitleActions .search {
    margin-right: 0;
}

.sectionOrders .sectionTitle .sectionTitleActions .searchEntity .content {
    top: 65px;
}


.sectionTitle .listView {
    display: flex;
    background-color: #111111;
    padding: 5px;
    border-radius: 20px;
}

.sectionTitle .listView span {
    border-radius: 20px;
    color: #828282;
    padding: 5px 10px;
}

.sectionTitle .listView span.active {
    background-color: #222222;
    color: #28a745;
}

#InventoryProducts,
#Orders {
    display: flex;
    flex-wrap: wrap;
    // gap: 10px;
    justify-content: space-between;


    .product {
        background-color: #111111;
        flex-direction: column;
        display: block;
        margin-bottom: 0;
        flex: 0 0 calc(50% - 5px);
        border-radius: 15px;
        padding-bottom: 0;
        margin-bottom: 10px;

        img {
            height: 100px;
        }

        .right,
        .left {
            flex: 0 0 100%;
            width: 100%;
            min-height: 0;
        }

        .left {
            margin-bottom: 5px;
            position: relative;
            border-radius: 10px;
        }

        .right {
            display: block;
            padding: 5px 0;

            .info {
                flex-direction: column;
                margin-bottom: 0;

                .row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    padding: 0 5px;
                }

                .prodname {
                    max-width: 100%;
                    padding: 0 5px;
                    margin-bottom: 10px;
                }

                .prodprice {
                    display: flex;
                    align-items: baseline;

                    i,
                    #productCurrency {
                        margin-right: 5px;
                    }
                }

                .actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                    gap: 5px;

                    button {
                        padding: 5px;
                        line-height: 1;
                        background-color: #222222;
                        width: 30px;
                        height: 30px;
                        border-radius: 10px;
                        text-align: center;
                        color: #828282;
                        transition: all 0.3s ease-in-out;
                        display: block;
                    }

                    button.details {
                        width: 60px;
                    }

                    .deleteProduct {
                        display: none;

                        span {
                            padding: 5px;
                            line-height: 22px;
                            background-color: #222222;
                            width: 30px;
                            height: 30px;
                            border-radius: 10px;
                            text-align: center;
                            color: #828282;
                            transition: all 0.3s ease-in-out;
                            display: block;
                        }

                        .confirmDelete {
                            color: #28a745;
                        }

                        .cancelDelete {
                            color: #f42f2f;
                            margin-left: 10px;
                        }
                    }
                }

                .actions.removing {
                    button.delete {
                        display: none;
                    }

                    .deleteProduct {
                        display: flex;
                    }
                }
            }
        }

        .prodquantity {
            &.low {
                color: #f42f2f;
            }

            i {
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }

    &.list {
        flex-direction: column;

        .product {
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-radius: 30px 20px 20px 30px;
            align-items: stretch;

            .left {
                flex: 0 0 30%;
                width: 30%;
                margin: 0;
                border-radius: 25px;

                img {
                    height: 103px;
                    max-height: 103px;
                }
            }

            .right {
                flex: 0 0 70%;
                width: 70%;
                padding: 5px 5px 5px 10px;

                .info {
                    margin: 0;
                    height: 100%;

                    >div:not(.row):not(.actions) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 10px;
                    }

                    >div:not(.row) .prodname {
                        margin-bottom: 0;
                    }

                    .row {
                        margin-bottom: 10px;
                    }

                    .prodname,
                    .prodtype,
                    .row {
                        padding: 0;
                    }
                }
            }

            .left .prodquantity {
                left: 50%;
                transform: translateX(-50%);
                right: auto;
                bottom: 3px;
            }
        }
    }
}

#Orders {
    &.list .product {
        border-radius: 20px;

        .right {
            flex: 0 0 100%;
            width: 100%;

            .info {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;

                >div:not(.row):not(.actions) {
                    margin-bottom: 0;
                }

                >div:not(.row) .prodname {
                    margin-right: 10px;
                }
            }
        }
    }
}

.noProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    color: #828282;

    i {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

.sectionOrders .sectionTitle .ordersback {
    display: flex;
    align-items: center;

    i {
        margin-right: 10px;
        font-size: 14px;
    }
}

#productDetails,
#orderDetails {
    display: none;
    color: #828282;
    padding-top: 20px;

    .productDetailsImage {
        border-radius: 20px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .orderDetailsHead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        .orderId {
            font-size: 12px;
            opacity: 0.5;
        }
    }

    .orderDetailsInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        flex-wrap: wrap;

        .orderName {
            color: #28a745;
            font-size: 26px;
            font-weight: 700;
        }

        .orderTotal {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            background-color: #111111;
            border-radius: 20px;
            font-weight: 700;
        }

        .orderDate {
            flex: 0 0 100%;
            width: 100%;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            opacity: 0.5;
        }
    }

    .orderDetailsBody {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        border-bottom: 1px solid #111111;
        padding-bottom: 5px;

        .orderDetailsItemsToggle {
            display: flex;
            align-items: center;

            i {
                font-size: 12px;
                margin-right: 10px;
                transition: all 0.3s ease-in-out;
            }

            &.open {
                i {
                    transform: rotateZ(90deg);
                }
            }
        }
    }

    .orderDetailsProductsList {
        display: none;

        .product .right .info {
            flex-direction: column;

            .prodname {
                max-width: 100%;
                margin-bottom: 10px;
            }

            .prodquantity {
                margin-bottom: 10px;
            }

            i {
                margin-right: 10px;
            }
        }
    }

    .productMoreDetails {
        padding-top: 20px;
        width: 100%;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
        }
    }

    .productDetailsActions {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;

        .productDetailsDelete,
        .editProductBtn {
            padding: 5px;
            line-height: 1;
            background-color: #111111;
            width: 30px;
            height: 30px;
            border-radius: 10px;
            text-align: center;
            color: #828282;
            transition: all 0.3s ease-in-out;
            display: block;
            margin-right: 15px;
        }

        .deleteProduct {
            display: none;
            margin-right: 15px;

            span {
                padding: 5px;
                line-height: 22px;
                background-color: #111111;
                width: 30px;
                height: 30px;
                border-radius: 10px;
                text-align: center;
                color: #828282;
                transition: all 0.3s ease-in-out;
                display: block;
            }

            .confirmProductDetailsDelete {
                color: #28a745;
            }

            .cancelProductDetailsDelete {
                color: #f42f2f;
                margin-left: 10px;
            }
        }

        &.removing {
            .productDetailsDelete {
                display: none;
            }

            .deleteProduct {
                display: flex;
            }
        }
    }

    #deletedAlert {
        padding: 7px 10px;
        border-radius: 10px;
        width: 100%;
        color: #ffffff;
        background-color: #28a745;
        margin-top: 10px;
        font-size: 14px;
        line-height: 14px;
        display: none;
    }
}

// #orderDetails{
//     .productDetailsActions {
//         padding-top: 0px;
//         margin-bottom: 20px;
//     }
// }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(130, 130, 130, 0.25);
    display: none;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: Translate(-50%, -50%);
        background-color: #111111;
        border-radius: 20px;
        padding: 10px 5px 5px;
        width: 300px;
        height: auto;
        max-height: 60vh;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background-image: url(./images/close.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 105%;
            background-color: #828282;
            border-radius: 50%;
            pointer-events: none;
        }

        .title {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: 700;
            color: #828282;
            text-align: center;
        }

        ul {
            list-style-type: none;
            border-radius: 20px;
            background-color: #222222;
            margin-bottom: 20px;
            padding: 5px;
            color: #828282;

            &.horiz {
                display: flex;

                li {
                    flex: 0 0 1;
                    width: 50%;
                    margin-bottom: 0;
                    text-align: center;
                }
            }

            li {
                padding: 5px 10px;
                margin-bottom: 5px;
                background-color: #222222;
                border-radius: 20px;
                transition: all 0.3s ease-in-out;

                &.selected {
                    background-color: #111111;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: calc(50% - 2px);
                padding: 10px;
                font-size: 14px;

                &[type=reset] {
                    background-color: #222222;
                }
            }
        }

    }
}

.categories {
    margin-bottom: 10px;

    ul {
        list-style-type: none;
        white-space: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            display: none;
        }


        li {
            padding: 5px 10px;
            background-color: #111111;
            border-radius: 20px;
            color: #828282;
            margin-right: 5px;
            display: inline-block;
            // border:1px solid #111111;

            &:last-child {
                margin: 0;
            }

            &.selected {
                color: #28a745;
                // background-color: #222222;
                // border-color: #28a745;
            }
        }
    }
}

#cameraSelect {
    position: absolute;
    bottom: 60px;
    right: 5px;
    // transform: translateX(-50%);
    background-color: #111111;
    border-radius: 30px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    color: #828282;
    display: none;

    span {
        margin-right: 10px;
        white-space: nowrap;
    }

    li {
        padding: 5px;
        border-radius: 50%;
        background-color: #111111;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 16px;
        margin-right: 5px;

        &:last-child {
            margin: 0;
        }

        &.selected {
            background-color: #222222;
            color: #28a745;
        }
    }
}

.closeCart,
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .content {
        position: absolute;
        bottom: -100%;
        left: 5px;
        right: 5px;
        background-color: #111111;
        border-radius: 30px;
        padding: 15px 5px 5px;
        color: #828282;
        text-align: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        i {
            font-size: 40px;
            margin-bottom: 20px;
        }

        // h5 {
        //     font-size: 30px;
        //     margin-bottom: 20px;
        //     color: #28a745;
        // }

        p {
            margin-bottom: 30px;

            span {
                display: block;
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 700;
                color: #28a745;

                &.lbp {
                    color: #828282;
                }
            }
        }

        .actions {
            display: flex;
            gap: 5px;

            a {
                width: 100%;
                padding: 15px;
                background-color: #28a745;
                color: white;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                font-size: 16px;
                display: block;

                &.secondary {
                    background-color: #222222;
                }
            }
        }



        &.slideup {
            transition-delay: 0.1s;
            bottom: 5px;
            opacity: 1;
            visibility: visible;
        }
    }
}