* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111111;
  color: white;
  padding-bottom: 100px;
  transition: background-color 0.3s ease-in-out;
}

.graybody {
  background-color: #222222;
}

.graybody header {
  background-color: #111111;
}

.graybody .bottomNav {
  background-color: #111111;
}
.graybody .bottomNav #notificationsCount {
  background-color: #222222;
}

.graybody .bottomNav ul li.active a {
  background-color: #222222;
}
.graybody .bottomNav ul li.active a #notificationsCount {
  background-color: #111111;
}

.graybody .bottomNav ul li:nth-child(3) a {
  outline: 5px solid #222222;
}

:focus {
  outline: none;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
button.secondary {
  background-color: #111111;
  color: #828282;
}

.loginForm,
#addNewProduct,
#productInfo {
  padding: 0 5px;
  padding-top: 60px;
  padding-bottom: 5px;
  border-radius: 0 0 30px 30px;
  background-color: #222222;
  margin-top: -30px;
}
.loginForm h2,
#addNewProduct h2,
#productInfo h2 {
  color: #828282;
  margin-bottom: 10px;
  font-family: "poppins", serif;
  padding: 0 10px;
}

.loginForm {
  max-width: 300px;
  margin: 0 auto;
}
.loginForm form {
  margin-bottom: 10px;
}
.loginForm h2 {
  text-align: center;
  margin-bottom: 30px;
}

.passreset {
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}
.passreset a {
  color: #828282;
  text-decoration: none;
}

.registerLink {
  text-align: center;
  font-size: 12px;
  color: #828282;
}
.registerLink a {
  color: #28a745;
  text-decoration: none;
}

.logintabs {
  margin-bottom: 10px;
  width: 100%;
  background-color: #222222;
  border-radius: 40px;
}
.logintabs ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.logintabs ul li {
  flex: 0 0 50%;
  padding: 3px;
}
.logintabs ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #828282;
  border-radius: 40px;
  padding: 5px;
  font-size: 14px;
}
.logintabs ul li.active a {
  background-color: #111111;
  color: #28a745;
}

.loginactions {
  text-align: center;
  margin-top: 30px;
}
.loginactions button {
  padding: 10px 20px;
  font-size: 14px;
}

#addNewProduct {
  border-radius: 0 0 20px 20px;
}

#productInfo .headTitle {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
#productInfo .headTitle h2 {
  display: inline-block;
  margin-bottom: 0;
}
#productInfo .headTitle input {
  display: inline-block;
  background-color: #111111;
  width: 60px;
  border-radius: 20px;
  padding: 2px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 0;
  color: #828282;
  font-family: "poppins", serif;
}
#productInfo .headTitle i {
  color: #828282;
  font-size: 12px;
  margin-left: 10px;
}
#productInfo .headTitle #cancelEditCartName,
#productInfo .headTitle #confirmEditCartName {
  display: none;
  font-size: 14px;
}
#productInfo .headTitle #cancelEditCartName {
  color: #f42f2f;
  margin-right: 5px;
}
#productInfo .headTitle #confirmEditCartName {
  color: #28a745;
}
#productInfo .headTitle #confirmCart {
  display: block;
  font-size: 14px;
  color: #ffffff;
  padding: 6px 10px;
  background-color: #28a745;
  border-radius: 20px;
}
#productInfo .headTitle #clearCart {
  display: block;
  font-size: 14px;
  color: #828282;
  padding: 6px 10px;
  background-color: #222222;
  border-radius: 20px;
}
#productInfo .headTitle .actions {
  display: flex;
}

.product {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
  background-color: #111111;
  margin-bottom: 5px;
}

.product.removed {
  transition: all 0.3s ease-in-out;
  height: 0;
  opacity: 0;
  padding: 0;
  overflow: hidden;
}

.product:last-child {
  margin-bottom: 0;
}

.product .left {
  flex: 0 0 86px;
  border-radius: 25px;
  overflow: hidden;
}

.product .left img {
  display: block;
  width: 100%;
  height: 86px;
  object-fit: cover;
}

.product .right {
  font-size: 14px;
  color: #828282;
  flex: 0 0 calc(100% - 86px);
  min-height: 86px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .right .info {
  /* min-height: 76px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin-bottom: 5px;
}

.product .right .info .prodname {
  max-width: calc(100% - 65px);
}

.product .right .info #productPrice {
  border-radius: 5px;
}

.product .right .actions {
  /* min-height: 76px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.product .right .actions .remove {
  text-align: right;
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  line-height: 32px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
}

.product .right .actions .confirmRemove {
  color: #28a745;
  display: none;
}

.product .right .actions .cancelRemove {
  color: #f42f2f;
  display: none;
  margin-left: 10px;
}

.product .right .actions.removing .remove {
  display: none;
}

.product .right .actions.removing .confirmRemove,
.product .right .actions.removing .cancelRemove {
  display: inline-block;
}

.product .right p #productName {
  font-weight: bold;
  color: #28a745;
  display: block;
  font-size: 16px;
}

#restockQtyForm input,
.loginForm input,
#editProductForm input,
#addNewProduct input {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background-color: #111111;
  border: none;
  outline: none;
  color: #828282;
  margin-bottom: 5px;
}
#restockQtyForm input:disabled,
.loginForm input:disabled,
#editProductForm input:disabled,
#addNewProduct input:disabled {
  opacity: 0.5;
}
#restockQtyForm input:-internal-autofill-selected,
.loginForm input:-internal-autofill-selected,
#editProductForm input:-internal-autofill-selected,
#addNewProduct input:-internal-autofill-selected {
  background-color: inherit !important;
}
#restockQtyForm select,
.loginForm select,
#editProductForm select,
#addNewProduct select {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background-color: #111111;
  border: none;
  outline: none;
  color: #828282;
  background-image: url(./images/selectarrowdown.svg);
  background-position: calc(100% - 10px) 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  margin-bottom: 0;
  max-width: 80px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#restockQtyForm select::-ms-expand,
.loginForm select::-ms-expand,
#editProductForm select::-ms-expand,
#addNewProduct select::-ms-expand {
  display: none;
}
#restockQtyForm #editProductImage,
#restockQtyForm #newProductImage,
.loginForm #editProductImage,
.loginForm #newProductImage,
#editProductForm #editProductImage,
#editProductForm #newProductImage,
#addNewProduct #editProductImage,
#addNewProduct #newProductImage {
  padding: 5px;
}
#restockQtyForm #editProductImage::file-selector-button,
#restockQtyForm #newProductImage::file-selector-button,
.loginForm #editProductImage::file-selector-button,
.loginForm #newProductImage::file-selector-button,
#editProductForm #editProductImage::file-selector-button,
#editProductForm #newProductImage::file-selector-button,
#addNewProduct #editProductImage::file-selector-button,
#addNewProduct #newProductImage::file-selector-button {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #222222;
  border: none;
  outline: none;
  color: #828282;
}
#restockQtyForm .row,
.loginForm .row,
#editProductForm .row,
#addNewProduct .row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
#restockQtyForm .row .price,
.loginForm .row .price,
#editProductForm .row .price,
#addNewProduct .row .price {
  display: flex;
  gap: 5px;
  width: 60%;
}
#restockQtyForm .row .price input,
.loginForm .row .price input,
#editProductForm .row .price input,
#addNewProduct .row .price input {
  display: flex;
  gap: 5px;
  width: 60%;
  margin-bottom: 0;
}
#restockQtyForm .row .productQuantity,
.loginForm .row .productQuantity,
#editProductForm .row .productQuantity,
#addNewProduct .row .productQuantity {
  width: 40%;
  justify-content: flex-end;
}
#restockQtyForm .row .productQuantity input,
.loginForm .row .productQuantity input,
#editProductForm .row .productQuantity input,
#addNewProduct .row .productQuantity input {
  margin-bottom: 0;
  background-color: transparent;
  width: 25px;
  margin: 0 15px;
  padding-left: 0;
  padding-right: 0;
}
#restockQtyForm .productQuantity .editless,
#restockQtyForm .productQuantity .editmore,
#restockQtyForm .productQuantity .newless,
#restockQtyForm .productQuantity .newmore,
.loginForm .productQuantity .editless,
.loginForm .productQuantity .editmore,
.loginForm .productQuantity .newless,
.loginForm .productQuantity .newmore,
#editProductForm .productQuantity .editless,
#editProductForm .productQuantity .editmore,
#editProductForm .productQuantity .newless,
#editProductForm .productQuantity .newmore,
#addNewProduct .productQuantity .editless,
#addNewProduct .productQuantity .editmore,
#addNewProduct .productQuantity .newless,
#addNewProduct .productQuantity .newmore {
  background-color: #111111;
}
#restockQtyForm .actions,
.loginForm .actions,
#editProductForm .actions,
#addNewProduct .actions {
  display: flex;
  gap: 5px;
}
#restockQtyForm .actions button,
.loginForm .actions button,
#editProductForm .actions button,
#addNewProduct .actions button {
  padding: 10px;
  font-size: 14px;
}
#restockQtyForm .actions button[type=reset],
.loginForm .actions button[type=reset],
#editProductForm .actions button[type=reset],
#addNewProduct .actions button[type=reset] {
  background-color: #111111;
}
#restockQtyForm label, #restockQtyForm p,
.loginForm label,
.loginForm p,
#editProductForm label,
#editProductForm p,
#addNewProduct label,
#addNewProduct p {
  color: #828282;
  margin-bottom: 5px;
  display: block;
  padding: 0 5px;
}
#restockQtyForm label span, #restockQtyForm p span,
.loginForm label span,
.loginForm p span,
#editProductForm label span,
#editProductForm p span,
#addNewProduct label span,
#addNewProduct p span {
  font-style: italic;
  display: block;
  font-size: 12px;
  padding: 5px 0;
  font-weight: 400;
}

.loginForm {
  background-color: transparent;
}
.loginForm input {
  background-color: #222222;
}

#editProductForm .row {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}
#editProductForm .row input {
  margin-bottom: 0;
}

#addNewProductForm .productImg,
#editProductForm .productImg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
#addNewProductForm .productImg .clear,
#addNewProductForm .productImg label,
#editProductForm .productImg .clear,
#editProductForm .productImg label {
  display: block;
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #828282;
  font-size: 14px;
  bottom: 5px;
  left: calc(50% - 20px);
  transform: translateX(-50%);
  background-color: #222222;
  text-align: center;
  line-height: 32px;
  margin-bottom: 0;
}
#addNewProductForm .productImg .clear,
#editProductForm .productImg .clear {
  left: calc(50% + 20px);
}
#addNewProductForm .productImg .clear.hidden,
#editProductForm .productImg .clear.hidden {
  opacity: 0.3;
}
#addNewProductForm .productImg img,
#editProductForm .productImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#addNewProductForm {
  margin-bottom: 0;
}

.productQuantity .more {
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  color: #828282;
}

#errorMessage {
  margin-top: 20px;
  padding: 0 10px;
  color: #828282;
  text-align: center;
}

.scannerContainer {
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  width: calc(100vw - 0px);
  height: 80vh;
  transition: all 0.3s ease-in-out;
  position: relative;
  /* margin:0 auto; */
  background-color: #222222;
}

.scannerContainer.shrink {
  height: 50vh;
}

#reader {
  border: none !important;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
#reader::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  border-radius: 20px;
  background-color: #28a745;
  animation: scan 3s infinite linear forwards;
}
#reader video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#openScanner,
#permissionDenied {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 50px;
}

#openScanner i,
#permissionDenied i {
  font-size: 40px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

#openScanner button,
#permissionDenied button {
  width: auto;
  padding: 10px;
}

#openScanner p,
#permissionDenied p {
  margin-bottom: 10px;
  color: #828282;
}

#barcodeForm {
  position: absolute;
  bottom: calc(20vh + 5px);
  padding: 0 5px;
  width: 100%;
  text-align: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

#barcodeForm.moveup {
  bottom: calc(50vh + 5px);
}

#barcodeForm input[type=text] {
  width: 100%;
  border-radius: 50px;
  padding: 15px;
  margin: 0;
  font-size: 16px;
  background-color: #111111;
  border: none;
  outline: none;
  color: #828282;
  text-align: center;
}

#barcodeForm input[type=text]::placeholder {
  font-style: italic;
  font-size: 12px;
}

#barcodeForm button {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  text-align: center;
  padding: 0;
  background-color: #222222;
  color: #828282;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

.bottomNav {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  background-color: #222222;
  z-index: 1;
  border-radius: 40px;
}

.bottomNav ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
  position: relative;
}

.bottomNav ul li {
  flex: 0 0 20%;
  padding: 5px;
  position: relative;
}

.bottomNav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #828282;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  border-radius: 30px;
}

.bottomNav ul li.active a {
  background-color: #111111;
  color: #28a745;
}

.bottomNav ul li a i {
  font-size: 22px;
}

.bottomNav ul li:nth-child(3) {
  position: relative;
}

.bottomNav ul li:nth-child(3) a {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  padding: 0;
  border-radius: 50%;
  background-color: #222222;
  padding: 0;
  border: 1px solid #28a745;
  outline: 5px solid #111111;
}

.bottomNav ul li:nth-child(3).active a {
  background-color: #111111;
}

.bottomNav ul li:nth-child(3) a i {
  font-size: 30px;
  color: #28a745;
}

.logo {
  color: #686767;
  font-size: 30px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  line-height: 25px;
  font-family: "Josefin Slab", serif;
}

/* .logo i {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index:-1;
} */
.logo span {
  color: #686767;
  margin-left: 10px;
}

.productQuantity {
  display: flex;
  align-items: center;
  border-radius: 30px;
  /* width:100%; */
}

.productQuantity input {
  border-radius: 5px;
  padding: 0px;
  margin: 0;
  font-size: 14px;
  background-color: #111111;
  border: none;
  outline: none;
  color: #828282;
  text-align: center;
  width: 25px;
  margin: 0 20px;
}

.productQuantity .less,
.productQuantity .newless,
.productQuantity .editless {
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  color: #828282;
}

.productQuantity .more,
.productQuantity .newmore,
.productQuantity .editmore {
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  color: #828282;
}

#stopScanner {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 7px 10px;
  width: auto;
  font-size: 13px;
  /* box-shadow: 0 0 5px 1px rgb(90 88 88 / 40%); */
  z-index: 2;
  background-color: #f42f2f;
  /* color: #828282; */
  display: none;
}

#scannerSettings {
  position: absolute;
  top: 15px;
  right: 50px;
  padding: 5px;
  width: auto;
  font-size: 12px;
  /* box-shadow: 0 0 5px 1px rgb(90 88 88 / 40%); */
  z-index: 2;
  background-color: #111111;
  color: #828282;
}

#loader {
  display: none;
  position: fixed;
  top: 30vh;
  left: 50%;
  padding: 10px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  background-color: #111111;
}
#loader .spinner {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #28a745;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.3s linear infinite forwards;
}

.highlight {
  animation: highlightEffect 0.5s linear;
}

.noTransition {
  transition: none;
}

.subsection {
  display: none;
  padding: 70px 10px 0;
}
.subsection.sectionProfile {
  height: calc(100vh - 100px);
  position: relative;
}
.subsection.sectionProfile #logoutBtn {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
}

.sectionScanner,
#accountContainer,
.bottomNav {
  display: none;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.sectionTitle h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #828282;
}

.sectionTitle .sectionTitleActions {
  display: flex;
  align-items: center;
  position: relative;
}

.sectionTitle .sectionTitleActions .refresh,
.sectionTitle .sectionTitleActions .filter,
.sectionTitle .sectionTitleActions .sort,
.sectionTitle .sectionTitleActions .search,
.sectionTitle .sectionTitleActions .allRead {
  padding: 5px;
  line-height: 22px;
  background-color: #111111;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-right: 10px;
}
.sectionTitle .sectionTitleActions .refresh:last-child,
.sectionTitle .sectionTitleActions .filter:last-child,
.sectionTitle .sectionTitleActions .sort:last-child,
.sectionTitle .sectionTitleActions .search:last-child,
.sectionTitle .sectionTitleActions .allRead:last-child {
  margin-right: 0;
}
.sectionTitle .sectionTitleActions .refresh.on,
.sectionTitle .sectionTitleActions .filter.on,
.sectionTitle .sectionTitleActions .sort.on,
.sectionTitle .sectionTitleActions .search.on,
.sectionTitle .sectionTitleActions .allRead.on {
  color: #28a745;
}

.sectionTitle .searchEntity {
  width: 100%;
  flex: 0 0 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.sectionTitle .searchEntity .content {
  position: relative;
}
.sectionTitle .searchEntity input {
  margin: 0;
  font-size: 14px;
  border-radius: 20px;
  background-color: #111111;
  border: none;
  color: #828282;
  padding: 11px 35px;
}
.sectionTitle .searchEntity .back {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  color: #828282;
  display: block;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.sectionTitle .searchEntity .searchloader {
  display: none;
  position: absolute;
  top: 25%;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #28a745;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.3s linear infinite forwards;
}
.sectionTitle.open h2,
.sectionTitle.open .sectionTitleActions {
  display: none !important;
}
.sectionTitle.open .searchEntity {
  visibility: visible;
  opacity: 1;
  display: block;
}

.sectionOrders .sectionTitle .sectionTitleActions .search {
  margin-right: 0;
}

.sectionOrders .sectionTitle .sectionTitleActions .searchEntity .content {
  top: 65px;
}

.sectionTitle .listView {
  display: flex;
  background-color: #111111;
  padding: 5px;
  border-radius: 20px;
}

.sectionTitle .listView span {
  border-radius: 20px;
  color: #828282;
  padding: 5px 10px;
}

.sectionTitle .listView span.active {
  background-color: #222222;
  color: #28a745;
}

#InventoryProducts,
#Orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#InventoryProducts .product,
#Orders .product {
  background-color: #111111;
  flex-direction: column;
  display: block;
  margin-bottom: 0;
  flex: 0 0 calc(50% - 5px);
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
#InventoryProducts .product img,
#Orders .product img {
  height: 100px;
}
#InventoryProducts .product .right,
#InventoryProducts .product .left,
#Orders .product .right,
#Orders .product .left {
  flex: 0 0 100%;
  width: 100%;
  min-height: 0;
}
#InventoryProducts .product .left,
#Orders .product .left {
  margin-bottom: 5px;
  position: relative;
  border-radius: 10px;
}
#InventoryProducts .product .right,
#Orders .product .right {
  display: block;
  padding: 5px 0;
}
#InventoryProducts .product .right .info,
#Orders .product .right .info {
  flex-direction: column;
  margin-bottom: 0;
}
#InventoryProducts .product .right .info .row,
#Orders .product .right .info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 5px;
}
#InventoryProducts .product .right .info .prodname,
#Orders .product .right .info .prodname {
  max-width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
}
#InventoryProducts .product .right .info .prodprice,
#Orders .product .right .info .prodprice {
  display: flex;
  align-items: baseline;
}
#InventoryProducts .product .right .info .prodprice i,
#InventoryProducts .product .right .info .prodprice #productCurrency,
#Orders .product .right .info .prodprice i,
#Orders .product .right .info .prodprice #productCurrency {
  margin-right: 5px;
}
#InventoryProducts .product .right .info .actions,
#Orders .product .right .info .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
}
#InventoryProducts .product .right .info .actions button,
#Orders .product .right .info .actions button {
  padding: 5px;
  line-height: 1;
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
}
#InventoryProducts .product .right .info .actions button.details,
#Orders .product .right .info .actions button.details {
  width: 60px;
}
#InventoryProducts .product .right .info .actions .deleteProduct,
#Orders .product .right .info .actions .deleteProduct {
  display: none;
}
#InventoryProducts .product .right .info .actions .deleteProduct span,
#Orders .product .right .info .actions .deleteProduct span {
  padding: 5px;
  line-height: 22px;
  background-color: #222222;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
}
#InventoryProducts .product .right .info .actions .deleteProduct .confirmDelete,
#Orders .product .right .info .actions .deleteProduct .confirmDelete {
  color: #28a745;
}
#InventoryProducts .product .right .info .actions .deleteProduct .cancelDelete,
#Orders .product .right .info .actions .deleteProduct .cancelDelete {
  color: #f42f2f;
  margin-left: 10px;
}
#InventoryProducts .product .right .info .actions.removing button.delete,
#Orders .product .right .info .actions.removing button.delete {
  display: none;
}
#InventoryProducts .product .right .info .actions.removing .deleteProduct,
#Orders .product .right .info .actions.removing .deleteProduct {
  display: flex;
}
#InventoryProducts .product .prodquantity.low,
#Orders .product .prodquantity.low {
  color: #f42f2f;
}
#InventoryProducts .product .prodquantity i,
#Orders .product .prodquantity i {
  margin-right: 10px;
  font-size: 14px;
}
#InventoryProducts.list,
#Orders.list {
  flex-direction: column;
}
#InventoryProducts.list .product,
#Orders.list .product {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 30px 20px 20px 30px;
  align-items: stretch;
}
#InventoryProducts.list .product .left,
#Orders.list .product .left {
  flex: 0 0 30%;
  width: 30%;
  margin: 0;
  border-radius: 25px;
}
#InventoryProducts.list .product .left img,
#Orders.list .product .left img {
  height: 103px;
  max-height: 103px;
}
#InventoryProducts.list .product .right,
#Orders.list .product .right {
  flex: 0 0 70%;
  width: 70%;
  padding: 5px 5px 5px 10px;
}
#InventoryProducts.list .product .right .info,
#Orders.list .product .right .info {
  margin: 0;
  height: 100%;
}
#InventoryProducts.list .product .right .info > div:not(.row):not(.actions),
#Orders.list .product .right .info > div:not(.row):not(.actions) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#InventoryProducts.list .product .right .info > div:not(.row) .prodname,
#Orders.list .product .right .info > div:not(.row) .prodname {
  margin-bottom: 0;
}
#InventoryProducts.list .product .right .info .row,
#Orders.list .product .right .info .row {
  margin-bottom: 10px;
}
#InventoryProducts.list .product .right .info .prodname,
#InventoryProducts.list .product .right .info .prodtype,
#InventoryProducts.list .product .right .info .row,
#Orders.list .product .right .info .prodname,
#Orders.list .product .right .info .prodtype,
#Orders.list .product .right .info .row {
  padding: 0;
}
#InventoryProducts.list .product .left .prodquantity,
#Orders.list .product .left .prodquantity {
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  bottom: 3px;
}

#Orders.list .product {
  border-radius: 20px;
}
#Orders.list .product .right {
  flex: 0 0 100%;
  width: 100%;
}
#Orders.list .product .right .info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#Orders.list .product .right .info > div:not(.row):not(.actions) {
  margin-bottom: 0;
}
#Orders.list .product .right .info > div:not(.row) .prodname {
  margin-right: 10px;
}
#Orders.list .product .right .info .actions {
  display: flex;
  align-items: center;
}
#Orders.list .product .right .info .actions .orderTotal {
  background-color: #222222;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  padding: 8px 5px;
  line-height: 1;
}

.noProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  color: #828282;
  font-style: italic;
}
.noProducts i {
  font-size: 50px;
  margin-bottom: 20px;
}

.sectionOrders .sectionTitle .ordersback {
  display: flex;
  align-items: center;
}
.sectionOrders .sectionTitle .ordersback i {
  margin-right: 10px;
  font-size: 14px;
}

#productDetails,
#orderDetails {
  display: none;
  color: #828282;
}
#productDetails .productDetailsImage,
#orderDetails .productDetailsImage {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}
#productDetails .productDetailsImage img,
#orderDetails .productDetailsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#productDetails .hotkeys,
#orderDetails .hotkeys {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productDetails .hotkeys .productDetailsActions button,
#orderDetails .hotkeys .productDetailsActions button {
  display: inline-block;
  width: auto;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  background-color: #111111;
  border-radius: 10px;
  color: #828282;
}
#productDetails .hotkeys .productDetailsActions button:last-child,
#orderDetails .hotkeys .productDetailsActions button:last-child {
  margin-right: 0;
}
#productDetails .orderDetailsHead,
#orderDetails .orderDetailsHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#productDetails .orderDetailsHead .orderId,
#orderDetails .orderDetailsHead .orderId {
  font-size: 12px;
  opacity: 0.5;
}
#productDetails .orderDetailsInfo,
#orderDetails .orderDetailsInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  background-color: #111111;
  padding: 5px;
  border-radius: 15px;
}
#productDetails .orderDetailsInfo .orderName,
#orderDetails .orderDetailsInfo .orderName {
  color: #28a745;
  font-size: 26px;
  font-weight: 700;
  padding-left: 5px;
}
#productDetails .orderDetailsInfo .orderTotal,
#orderDetails .orderDetailsInfo .orderTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5px 5px 8px;
  background-color: #222222;
  border-radius: 20px 15px 15px 20px;
  padding-left: 30px;
  position: relative;
}
#productDetails .orderDetailsInfo .orderTotal::before,
#orderDetails .orderDetailsInfo .orderTotal::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../images/dollaricon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#productDetails .orderDetailsInfo .orderDate,
#orderDetails .orderDetailsInfo .orderDate {
  padding: 0 5px;
  flex: 0 0 100%;
  width: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  opacity: 0.5;
}
#productDetails .orderDetailsInfo .orderId,
#orderDetails .orderDetailsInfo .orderId {
  flex: 0 0 100%;
  padding: 0 5px;
  font-size: 12px;
  opacity: 0.5;
}
#productDetails .orderDetailsBody,
#orderDetails .orderDetailsBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #111111;
  padding-bottom: 5px;
}
#productDetails .orderDetailsBody .orderDetailsItemsToggle,
#orderDetails .orderDetailsBody .orderDetailsItemsToggle {
  display: flex;
  align-items: center;
}
#productDetails .orderDetailsBody .orderDetailsItemsToggle i,
#orderDetails .orderDetailsBody .orderDetailsItemsToggle i {
  font-size: 12px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
#productDetails .orderDetailsBody .orderDetailsItemsToggle.open i,
#orderDetails .orderDetailsBody .orderDetailsItemsToggle.open i {
  transform: rotateZ(90deg);
}
#productDetails .orderDetailsProductsList,
#orderDetails .orderDetailsProductsList {
  display: none;
}
#productDetails .orderDetailsProductsList .product .right .info,
#orderDetails .orderDetailsProductsList .product .right .info {
  flex-direction: column;
}
#productDetails .orderDetailsProductsList .product .right .info .prodname,
#orderDetails .orderDetailsProductsList .product .right .info .prodname {
  max-width: 100%;
  margin-bottom: 10px;
}
#productDetails .orderDetailsProductsList .product .right .info .prodquantity,
#orderDetails .orderDetailsProductsList .product .right .info .prodquantity {
  margin-bottom: 10px;
}
#productDetails .orderDetailsProductsList .product .right .info i,
#orderDetails .orderDetailsProductsList .product .right .info i {
  margin-right: 10px;
}
#productDetails .productMoreDetails,
#orderDetails .productMoreDetails {
  padding: 10px 5px 0;
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #222222;
  margin-top: 10px;
}
#productDetails .productMoreDetails div,
#orderDetails .productMoreDetails div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#productDetails .productDetailsActions,
#orderDetails .productDetailsActions {
  display: flex;
  align-items: center;
}
#productDetails .productDetailsActions .productDetailsDelete,
#productDetails .productDetailsActions .editProductBtn,
#orderDetails .productDetailsActions .productDetailsDelete,
#orderDetails .productDetailsActions .editProductBtn {
  padding: 5px;
  line-height: 1;
  background-color: #111111;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-right: 15px;
}
#productDetails .productDetailsActions .deleteProduct,
#orderDetails .productDetailsActions .deleteProduct {
  display: none;
  margin-right: 15px;
}
#productDetails .productDetailsActions .deleteProduct span,
#orderDetails .productDetailsActions .deleteProduct span {
  padding: 5px;
  line-height: 22px;
  background-color: #111111;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #828282;
  transition: all 0.3s ease-in-out;
  display: block;
}
#productDetails .productDetailsActions .deleteProduct .confirmProductDetailsDelete,
#orderDetails .productDetailsActions .deleteProduct .confirmProductDetailsDelete {
  color: #28a745;
}
#productDetails .productDetailsActions .deleteProduct .cancelProductDetailsDelete,
#orderDetails .productDetailsActions .deleteProduct .cancelProductDetailsDelete {
  color: #f42f2f;
  margin-left: 10px;
}
#productDetails .productDetailsActions.removing .productDetailsDelete,
#orderDetails .productDetailsActions.removing .productDetailsDelete {
  display: none;
}
#productDetails .productDetailsActions.removing .deleteProduct,
#orderDetails .productDetailsActions.removing .deleteProduct {
  display: flex;
}
#productDetails #deletedAlert,
#orderDetails #deletedAlert {
  padding: 7px 10px;
  border-radius: 10px;
  width: 100%;
  color: #ffffff;
  background-color: #28a745;
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  display: none;
}

#orderDetails .orderDetailsHead .orderId {
  display: none;
}
#orderDetails .orderDetailsInfo {
  background-color: #222222;
  padding: 0;
}
#orderDetails .orderDetailsInfo .orderTotal {
  background-color: #111111;
  border-radius: 20px;
}
#orderDetails .orderDetailsInfo .orderName {
  padding: 0;
}
#orderDetails .orderDetailsInfo .orderDate {
  padding: 0;
  margin-bottom: 20px;
}
#orderDetails #detailsProdsList .product {
  align-items: center;
}
#orderDetails #detailsProdsList .product > div {
  display: flex;
  white-space: nowrap;
}
#orderDetails #detailsProdsList .product .right {
  flex: 0 0 calc(100% - 110px);
}
#orderDetails #detailsProdsList .product .right .qtyXprice {
  font-style: italic;
}
#orderDetails #detailsProdsList .product .right .qtyXprice span {
  font-style: normal;
}
#orderDetails #detailsProdsList .product .right .qtyXprice #productQuantity,
#orderDetails #detailsProdsList .product .right .qtyXprice #productPrice {
  font-size: 12px;
  color: #828282;
  display: inline-block;
  margin-right: 5px;
  line-height: 1;
}
#orderDetails #detailsProdsList .product .right .qtyXprice #productPrice {
  margin-left: 5px;
}
#orderDetails #detailsProdsList .product .total {
  font-size: 14px;
  color: #828282;
  border-radius: 5px;
  text-align: center;
  background-color: #222222;
  padding: 4px 6px 2px;
  border-radius: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(130, 130, 130, 0.25);
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: Translate(-50%, -50%);
  background-color: #111111;
  border-radius: 20px;
  padding: 10px 5px 5px;
  width: 300px;
  height: auto;
  max-height: 60vh;
}
.popup .content::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-image: url(./images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
  background-color: #828282;
  border-radius: 50%;
  pointer-events: none;
}
.popup .content .title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #828282;
  text-align: center;
}
.popup .content ul {
  list-style-type: none;
  border-radius: 20px;
  background-color: #222222;
  margin-bottom: 20px;
  padding: 5px;
  color: #828282;
}
.popup .content ul.horiz {
  display: flex;
}
.popup .content ul.horiz li {
  flex: 0 0 1;
  width: 50%;
  margin-bottom: 0;
  text-align: center;
}
.popup .content ul li {
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #222222;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.popup .content ul li.selected {
  background-color: #111111;
}
.popup .content ul li:last-child {
  margin-bottom: 0;
}
.popup .content .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .content .actions button {
  width: calc(50% - 2px);
  padding: 10px;
  font-size: 14px;
}
.popup .content .actions button[type=reset] {
  background-color: #222222;
}

.categories {
  margin-bottom: 10px;
}
.categories ul {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
}
.categories ul::-webkit-scrollbar-track, .categories ul::-webkit-scrollbar, .categories ul::-webkit-scrollbar-thumb {
  display: none;
}
.categories ul li {
  padding: 5px 10px;
  background-color: #111111;
  border-radius: 20px;
  color: #828282;
  margin-right: 5px;
  display: inline-block;
}
.categories ul li:last-child {
  margin: 0;
}
.categories ul li.selected {
  color: #28a745;
}

#cameraSelect {
  position: absolute;
  bottom: 60px;
  right: 5px;
  background-color: #111111;
  border-radius: 30px;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  color: #828282;
  display: none;
}
#cameraSelect span {
  margin-right: 10px;
  white-space: nowrap;
}
#cameraSelect li {
  padding: 5px;
  border-radius: 50%;
  background-color: #111111;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 16px;
  margin-right: 5px;
}
#cameraSelect li:last-child {
  margin: 0;
}
#cameraSelect li.selected {
  background-color: #222222;
  color: #28a745;
}

.closeCart,
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.closeCart.show,
.alert.show {
  opacity: 1;
  visibility: visible;
}
.closeCart .content,
.alert .content {
  position: absolute;
  bottom: -100%;
  left: 5px;
  right: 5px;
  background-color: #111111;
  border-radius: 30px;
  padding: 15px 5px 5px;
  color: #828282;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.closeCart .content i,
.alert .content i {
  font-size: 40px;
  margin-bottom: 20px;
}
.closeCart .content p,
.alert .content p {
  margin-bottom: 30px;
}
.closeCart .content p span,
.alert .content p span {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #28a745;
}
.closeCart .content p span.lbp,
.alert .content p span.lbp {
  color: #828282;
}
.closeCart .content .actions,
.alert .content .actions {
  display: flex;
  gap: 5px;
}
.closeCart .content .actions a,
.alert .content .actions a {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: block;
}
.closeCart .content .actions a.secondary,
.alert .content .actions a.secondary {
  background-color: #222222;
}
.closeCart .content.slideup,
.alert .content.slideup {
  transition-delay: 0.1s;
  bottom: 5px;
  opacity: 1;
  visibility: visible;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}
.userInfo .avatar {
  width: 60px;
  flex: 0 0 60px;
  font-size: 50px;
  color: #828282;
  border-radius: 50%;
  overflow: hidden;
}
.userInfo .avatar img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.userInfo > .info {
  padding-left: 10px;
  flex: 0 0 calc(100% - 60px);
  width: calc(100% - 60px);
  color: #828282;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfo > .info .info #profileNameInputField {
  display: none;
  margin-top: 0;
  background-color: #111111;
  padding: 5px;
  color: #828282;
  border: none;
  border-radius: 10px;
}
.userInfo > .info .action .editProfileAvatarAndName {
  color: #828282;
  font-size: 16px;
}
.userInfo > .info .action .profileFieldEditActions {
  display: none;
}
.userInfo > .info .action .profileFieldEditActions .cancelProfileEdit {
  color: #f42f2f;
  margin-right: 10px;
  background-color: #111111;
  padding: 5px;
  border-radius: 10px;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
}
.userInfo > .info .action .profileFieldEditActions .confirmProfileEdit {
  color: #28a745;
  background-color: #111111;
  padding: 5px;
  border-radius: 10px;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
}

.adminControl {
  margin-bottom: 30px;
}

.adminActions {
  padding: 5px;
  background-color: #111111;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.adminActions button {
  background-color: #222222;
  padding: 10px;
  font-size: 14px;
}

.userMoreInfo {
  padding: 15px;
  background-color: #111111;
  border-radius: 20px;
  color: #828282;
  margin-bottom: 30px;
}
.userMoreInfo .accountField {
  margin-bottom: 30px;
}
.userMoreInfo .accountField .label {
  opacity: 0.6;
}
.userMoreInfo .accountField .verification {
  margin-top: 5px;
  font-size: 14px;
}
.userMoreInfo .accountField .verification a {
  color: #28a745;
  text-decoration: none;
}
.userMoreInfo .accountField .field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.userMoreInfo .accountField .field a {
  font-size: 14px;
  color: #828282;
}
.userMoreInfo .accountField .field input {
  margin-top: 5px;
  width: calc(100% - 80px);
  background-color: #222222;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #828282;
  display: none;
}
.userMoreInfo .accountField .field .profileFieldEditActions {
  display: none;
}
.userMoreInfo .accountField .field .profileFieldEditActions .cancelProfileEdit {
  color: #f42f2f;
  margin-right: 10px;
  background-color: #222222;
  padding: 5px;
  border-radius: 10px;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
}
.userMoreInfo .accountField .field .profileFieldEditActions .confirmProfileEdit {
  color: #28a745;
  background-color: #222222;
  padding: 5px;
  border-radius: 10px;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
}
.userMoreInfo .accountField:last-child {
  margin-bottom: 0;
}

.registerSection {
  display: none;
}

#inventoryClearAlert,
#ordersClearAlert {
  padding: 7px 10px;
  border-radius: 10px;
  width: 100%;
  color: #ffffff;
  background-color: #28a745;
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  display: none;
}

.profileEditdiv {
  display: none;
  max-height: 100%;
  overflow: auto;
}
.profileEditdiv .loginForm {
  max-width: 100%;
  padding: 0;
  color: #828282;
}
.profileEditdiv .loginForm .profileBack {
  text-align: left;
  padding: 0;
  margin: 0;
}
.profileEditdiv .loginForm .profileAvatar {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  overflow: hidden;
}
.profileEditdiv .loginForm .profileAvatar .clear,
.profileEditdiv .loginForm .profileAvatar label {
  display: block;
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #828282;
  font-size: 14px;
  bottom: 5px;
  left: calc(50% - 20px);
  transform: translateX(-50%);
  background-color: #222222;
  text-align: center;
  line-height: 32px;
}
.profileEditdiv .loginForm .profileAvatar .clear {
  left: calc(50% + 20px);
}
.profileEditdiv .loginForm .profileAvatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileEditdiv .loginForm input {
  background-color: #111111;
}
.profileEditdiv .loginForm .loginactions {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

#editProfileForm {
  margin-bottom: 40px;
}

.passwordchangebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.newPass {
  display: none;
}

#notificationsCount {
  position: absolute;
  top: 7px;
  right: 18px;
  background-color: #111111;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  color: #828282;
}

.notification {
  background-color: #111111;
  flex-direction: column;
  display: block;
  margin-bottom: 0;
  flex: 0 0 calc(50% - 5px);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.notification .badge {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #28a745;
  left: 12px;
}
.notification .title {
  font-size: 14px;
  margin-bottom: 5px;
  color: #828282;
  font-weight: 700;
}
.notification .title.shift {
  padding-left: 20px;
}
.notification .title .date {
  margin-left: 10px;
  font-size: 12px;
  color: #828282;
  opacity: 0.6;
  font-weight: 400;
}
.notification .content {
  font-size: 14px;
  margin-bottom: 5px;
  color: #828282;
}
.notification .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification .about .actions {
  text-align: right;
}
.notification .about .actions a {
  color: #28a745;
  font-size: 12px;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
}
.notification .about .actions a:first-child {
  padding-left: 0;
}
.notification .about .actions a:last-child {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes highlightEffect {
  from {
    background-color: #28a745;
  }
  to {
    background-color: transparent;
  }
}
@keyframes scan {
  0% {
    top: 20%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    top: 80%;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes resize {
  0% {
    width: 100px;
    height: 100px;
  }
  20% {
    width: 250px;
    height: 80px;
  }
  50% {
    width: 250px;
    height: 80px;
  }
  80% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
#detailsProdsList .product .left {
  flex: 0 0 62px;
}
#detailsProdsList .product .left img {
  height: 62px;
}
#detailsProdsList .product .right {
  flex: 0 0 calc(100% - 62px);
  min-height: 62px;
}

.restock {
  display: none;
}

/*# sourceMappingURL=style.css.map */
